{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
<section class="text-center container spaceFooter">
<div class="row py-lg-5" id="spawn">

	<div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre">Résumé :</h1>
        <br>
        <p class="lead text-muted">Paul-Henri Solat, 19 ans, j'habite Toulon et je suis actuellement en BTS SIO (Services Informatiques aux Organisations) option SLAM.</p>
        <p class="lead text-muted">J'aime beacoup l'informatique surtout la programmation, j'adore créér de nouvelles choses avec les différents languages de programmation que ça soit un site web une application ou encore des jeux vidéos.</p>
        <p class="lead text-muted">Je suis rentré dans ce domaine afin de pouvoir réaliser toutes mes idées, bien évidemment je souhaite égalemment travailler dans ce domaine.</p>
    </div>

    <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre">Parcours scolaire :</h1>
        <br>
        <p class="lead text-muted"><g>[2020-2022]</g><br> 
        	-BTS SIO (Services Informatiques aux Organisations) SLAM</p>
        <p class="lead text-muted"><g>[2017-2020]</g><br> 
        	-Bac Professionel SN (Systeme et Numérique)</p>
    </div>

    <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre toB">Expériences professionnelles :</h1>
        <br>
        <p class="lead text-muted"><g>[3 Janvier 2022 - 11 Février 2022] (6 semaines)</g><br> 
          -Service informatique [Mairie de la Seyne-Sur-Mer]</p>
        <p class="lead text-muted"><g>[14 Juin 2021 - 9 Juillet 2021] (4 semaines)</g><br> 
          -Service informatique [Mairie de la Seyne-Sur-Mer]</p>
        <p class="lead text-muted"><g>[2020 - 2020] (4 semaines)</g><br> 
          -Réparation d'appareil informatique [Aïe Phone]</p>
    </div>

    <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre">Compétences Dév :</h1>
        <br>
        
        <p class="lead text-muted initGauche"><g>-Dév. HTML /css  </g><si class="fas fa-star"></si></p>
        
        <p class="lead text-muted initGauche"><g>-Dév. PHP</g></p>
        
        <p class="lead text-muted initGauche"><g>-Dév. SQL</g></p>
        
        <p class="lead text-muted initGauche"><g>-Dév. C#</g></p>
        
        <p class="lead text-muted initGauche"><g>-Dév. C++</g></p>
        
        <p class="lead text-muted initGauche"><g>-Dév. Python</g></p>
        
        <p class="lead text-muted initGauche"><g>-Dév. WLangage</g></p>
    </div>

    <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <h1 class="fw-light typewriter titre">> Paul-Henri Solat <</h1>
      <img class="d-block w-50 centerIMG" src="{{asset('assets/image/profilIMG_phs500.jpg')}}" alt="photo ph">
    </div>

</div>
</section>
{% endblock %}