{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
    <section class="text-center container spaceFooter">
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <br>
                <h1 class="fw-light typewriter titre toB">- GSB–Galaxy Swiss Bourdin -</h1>
                <br>
                <p class="lead">GSB est un projet de 2eme année, organiser en équipe.</p>
                <p class="lead">En résumé : Dans ce projet je me suis occupé de la page d'accueil du css de tout le site avec bootstrap et la génération du pdf pour le remboursement des frais engagés.</p>
                <p class="lead">[Equipe] : <a href="https://nicolaspreaux.fr/">NicolasPreaux</a> / <a href="https://paulhenrisolat.fr/">PaulHenriSolat</a> / <a href="https://puissant-garambois.fr/">LucasPuissantGarambois</a></p>
                <hr>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>CONTEXTE</h1><p>Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le géant américain Galaxy (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et le conglomérat européen Swiss Bourdin, les visiteurs étant vus comme des acteurs distants autonomes. La DSI a convaincu l'entreprise que l'intégration des données fournies par cette partie aura un impact important sur l'ensemble de l'activité.  L'application va permettre d'établir une gestion plus précise et uniforme entre les entités du laboratoire. Elle devra permettre aux visiteurs d'inscrire leurs dépenses, de visualiser la prise en charge des remboursements (enregistré, validé, remboursé).</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/gsb1.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-left" src="{{asset('assets/image/gsb2.png')}}" alt="photo gsb"></div>
                    <div class="p-2 bd-highlight"><h1>TRAVAIL REALISE</h1><p>Gestion fiche de frais, double vérification, conexion admin et user, génération pdf, (partie mobile)</div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>OUTILS UTILISES</h1><p>netbeans/mysqlserver/html/css/sql/Trello/git</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/gsb3.png')}}" alt="photo gsb"></div>
                </div>
                <br>
                <h1>COMPETENCES</h1>
                <p class="lead"><g>1.1 Gérer le patrimoine informatique</g></p>
                <p class="lead textLeft">
                    •	Recenser et identifier les ressources numériques<br>
                    •	Exploiter des référentiels, normes et standards adoptés par le prestataire informatique<br>
                    •	Mettre en place et vérifier les niveaux d’habilitation associés à un service<br>
                    •	Vérifier les conditions de la continuité d’un service informatique<br>
                    •	Gérer des sauvegardes<br>
                    •	Vérifier le respect des règles d’utilisation des ressources numériques<br>
                </p>
                <p class="lead"><g>1.2 Répondre aux incidents et aux demandes d’assistance et d’évolution</g></p>
                <p class="lead textLeft">
                •	Collecter, suivre et orienter des demandes<br>
                •	Traiter des demandes concernant les services réseau et système, applicatifs<br>
                •	Traiter des demandes concernant les applications<br>
                </p>
                <p class="lead"><g>1.4 Travailler en mode projet</g></p>
                <p class="lead textLeft">
                •	Analyser les objectifs et les modalités d’organisation d’un projet<br>
                •	Planifier les activités<br>
                •	Évaluer les indicateurs de suivi d’un projet et analyser les écarts<br>
                </p>
                <p class="lead"><g>1.5 Mettre à disposition des utilisateurs un service informatique</g></p>
                <p class="lead textLeft">
                •	Réaliser les tests d’intégration et d’acceptation d’un service<br>
                •	Déployer un service<br>
                •	Accompagner les utilisateurs dans la mise en place d’un service<br>
                </p>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
