{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
    <section class="text-center container spaceFooter">
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <br>
                <h1 class="fw-light typewriter titre toB">- MDL–Maison des Ligues - [EN COURS]</h1>
                <br>
                <p class="lead">MDL est un projet de 2eme année, organiser en équipe, et est centré sur le framework Symfony.</p>
                <p class="lead">En résumé : Le site de la MDL permet de fournir des services au licencie (réservation hotel et repas, inscription à des activitées). Dans ce projet, je me suis occupé de la page d'acceuil et de la création des tables liée aux Hotels.</p>
                <p class="lead">[Equipe] : <a href="https://nicolaspreaux.fr/">NicolasPreaux</a> / <a href="https://paulhenrisolat.fr/">PaulHenriSolat</a> / <a href="https://puissant-garambois.fr/">LucasPuissantGarambois</a></p>
                <hr>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>CONTEXTE</h1><p>La Maison des Ligues de Lorraine (M2L) a pour mission de fournir des espaces et des services aux Différentes ligues sportives régionales et à d’autres structures hébergées.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/mdl1.png')}}" alt="photo mdl"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-left" src="{{asset('assets/image/nullimg.png')}}" alt="photo mdl"></div>
                    <div class="p-2 bd-highlight"><h1>TRAVAIL REALISE</h1><p>Configuration de l'application, conception de la base de données, création des tables du serveur Oracle, mise en place des ateliers thèmes et vacations, inscription des licenciés.</div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>OUTILS UTILISES</h1><p>netbeans/mysqlserver/symfony/twig/html/css/sql/Trello/git</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/mdl2.png')}}" alt="photo mdl"></div>
                </div>
                <br>
                <h1>COMPETENCES</h1>
                <p class="lead"><g>1.1 Gérer le patrimoine informatique</g></p>
                <p class="lead textLeft">
                    •	Recenser et identifier les ressources numériques<br>
                    •	Exploiter des référentiels, normes et standards adoptés par le prestataire informatique<br>
                    •	Mettre en place et vérifier les niveaux d’habilitation associés à un service<br>
                    •	Vérifier les conditions de la continuité d’un service informatique<br>
                    •	Gérer des sauvegardes<br>
                    •	Vérifier le respect des règles d’utilisation des ressources numériques<br>
                </p>
                <p class="lead"><g>1.2 Répondre aux incidents et aux demandes d’assistance et d’évolution</g></p>
                <p class="lead textLeft">
                    •	Collecter, suivre et orienter des demandes<br>
                    •	Traiter des demandes concernant les services réseau et système, applicatifs<br>
                    •	Traiter des demandes concernant les applications<br>
                </p>
                <p class="lead"><g>1.4 Travailler en mode projet</g></p>
                <p class="lead textLeft">
                •	Analyser les objectifs et les modalités d’organisation d’un projet<br>
                •	Planifier les activités<br>
                •	Évaluer les indicateurs de suivi d’un projet et analyser les écarts<br>
                </p>
                <p class="lead"><g>1.5 Mettre à disposition des utilisateurs un service informatique</g></p>
                <p class="lead textLeft">
                •	Réaliser les tests d’intégration et d’acceptation d’un service<br>
                •	Déployer un service<br>
                •	Accompagner les utilisateurs dans la mise en place d’un service<br>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
