{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
<section class="text-center container spaceFooter">
<div class="row py-lg-5" id="spawn">
      <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre toB">- Nolark -</h1>
        <br>
        <p class="lead text-muted">Nolark est un site vitrine étant mon 1er projet de 1er année.</p>
        <p class="lead text-muted">En résumé : Le projet Nolark m'a introduit à la programmation HTML et CSS, les bases d'un site vitrine, et son implémentation sur le web. De missions en missions j'ai pratiqué la correction de bug, l'implémentation et la modification de nouvelles pages.</p>
      </div>
</div>
</section>
{% endblock %}