{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
<section class="text-center container spaceFooter">
<div class="row py-lg-5" id="spawn">
      <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre toB">- Outils développement -</h1>
        <br>
        <p class="lead text-muted">Cette activité m'a permis de développer un site tout en utilisant github, et découvrir les fondamentaux de la gestion de version.</p>
        <p class="lead text-muted"><g>Compétences acquises :</g> Gestion de version sous NetBeans | Fondamentaux de gestion de versions avec Git | Planification avec Kanban (Trello et GitHub) | Utilisation professionnelle de GitHub | Découverte du langage MarkDown | Automatisation de la gestion d'incidents (ticketing) et de la planification dans GitHub | Compréhension et mise en peuvre du framework CSS Bootstrap (+Font-Awesome) | Compréhension du concept de CDN | Mise en oeuvre des GitHub Pages et automatisation du déploiement avec GitHub | Gestion de branches et collaboration avancée (Push, Pull, Merge, Clone) | Gestion et résolution de conflits | La notion de pull request, ou comment collaborer sans être "Collaborateur" | Indicateurs de suivis GitHub.</p>
        <p class="lead text-muted">Le portfolio que vous visonnez en ce moment-même est le 6ème que j'ai produit. J'ai recommencer mon portfolio plusieurs fois afin de trouver la meilleur façon de faire.</p>
        <p class="lead text-muted">J'ai créer celui-ci avec Symfony.</p>
      </div>
</div>
</section>
{% endblock %}