{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
<section class="text-center container spaceFooter">
<div class="row py-lg-5" id="spawn">
      <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre toB">- Synthèse de stage de 2ème année -</h1>
        <br>
        <p class="lead text-muted">J’ai effectué mon stage de deuxième année dans le service informatique de la mairie de la Seyne-sur-Mer pour une durée de 6 semaines du lundi 3 janvier au vendredi 11 février 2022, plus particulièrement dans la section développement. Effectivement cette mairie est l’une des rares possédant une équipe de développeurs, ils s’occupent du site officiel de la mairie ainsi que des outils de gestion (tickets, administration) qu'utilise la mairie, et développent des applications pour les écoles ou les associations.</p>
        <p class="lead text-muted">Pour le début de ce stage, on m’a introduit à un nouveau langage, soit le "WLangage" afin d’utiliser le logiciel de développement d’application WinDev. Ce logiciel a été créé et édité par la société française PC SOFT, il permet de développer des applications principalement orientées pour Windows, tout en utilisant une syntaxe française pour la programmation.</p>
        <p class="lead text-muted">J’ai donc commencé par  me former à l’utilisation de WinDev en passant en revue ses principales fonctionnalités, créer une application pour réaliser des tests basiques comme afficher une popup avec un bouton, ou intégrer une base de données directement sur mon application, etc…</p>
        <p class="lead text-muted">Après m'être suffisamment entrainé aux bases de WinDev, on m’a proposé pour m’entrainer de réaliser une application de mon choix. J’ai donc décidé de réaliser une application de pari avec un dé virtuel, le principe est simple, choisir une face de 1 à 6 miser une fausse somme d’argent et  lancer le dé.</p>
        <p class="lead text-muted">Au bout d’ une petite semaine j’ai pu réaliser “Saikorobetto” mon application de pari de dé. J’ai pu créer l'entièreté du programme, corriger la plupart des bugs, trouvé de nouvelles fonctionnalités aà WinDev et WLangage (comme la gestion de fichiers média), et aussi produire un fichier d’installation afin de pouvoir le télécharger et le tester soi-même ->Voir ici<- </p>
        <p class="lead text-muted">Après cette initiation à Windev, j’ai été affecté sur un projet Symfony ayant pour objectif de réaliser un back-office d’administration en utilisant le bundle easy admin avec mes compétences et internet.</p>
        <p class="lead text-muted">Pendant la création du back-office j’ai passé de longues journées de debug, à trouver qu’un fichier n’est pas présent, que la version de symfony ou  de php ne correspondent pas ou alors que GitHub m'empêchait de continuer mon projet depuis chez moi à cause de son fichier ".gitignore" (empêche de commit les fichiers renseignés).
        Après avoir lié easy admin à ma base de données, je rajoute des pages bootstrap afin de visualiser les articles de ma BDD.
        Durant le stage j’aurai appris à utiliser WinDev le WLangage ainsi que le bundle easy admin de symfony.</p>
      </div>
</div>
</section>
{% endblock %}