{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
<section class="text-center container spaceFooter">
  <div class="row py-lg-5" id="spawn">

    <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre">{ Veille technologique }</h1>
        <br>
        <p class="lead text-muted">Une veille technologique est une activité consistant à rester au courant des dernières avancées et informations sur les nouvelles technologies, outils informatique et autres...</p>
        <p class="lead text-muted">On utilise habituellement plusieurs sites d'actualitées pour suivre les news, personellement pour prendre connaissance des nouveautées, j'utilise directement les sites officiels, et je suis abonné à plusieurs chaines d'informaticiens et de développeurs sur Youtube.</p>
        <p class="lead text-muted">Mes sources actuelles : 
        <a href="https://www.youtube.com/c/JomaOppa/videos">Joma Tech</a> /
        <a href="https://www.youtube.com/c/LesFr%C3%A8resCodeurs/videos">Le Frère Codeur</a> /
        <a href="https://www.youtube.com/c/Fireship">Fireship</a> /
        <a href="https://www.youtube.com/c/TUTOUNITYFR/featured">Tuto Unity FR</a> /
        <a href="https://symfony.com/blog/">Symfony News</a> /
        <a href="https://www.infoq.com/Programming-Languages/news/">InfoQ</a> /
        <a href="https://www.lemondeinformatique.fr/actualites/toute-l-actualite.html">LeMondeInformatique</a>
        .
        <p>
      </div>

  </div>
  
<div class="row py-lg-5" id="spawn">

  <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #ffffff">
    <br>
      <h1 class="fw-light titre">La Russie bientôt confrontée à une crise du stockage</h1>
      <br>
      <p class="lead text-muted">Les services informatiques gouvernementaux de la fédération de Russie pourraient subir de plein fouet le retrait des opérateurs et fournisseurs cloud étrangers. Des estimations tablent sur une saturation de leurs capacités de stockage dans les deux mois à venir.</p>
      <p class="lead text-muted">D'après le cabinet de conseil iKS-Consulting , la demande du secteur public russe en équipements informatiques (serveurs et systèmes de stockage) a augmenté en moyenne de plus de 20 % par an. Une croissance qui s'explique en particulier par l'accroissement du taux d'équipement en matière de systèmes de vidéosurveillance nécessitant des ressources conséquentes en matière de stockage et de traitement de données. « Si la situation de pénurie ne s'améliore pas il va très certainement falloir se serrer la ceinture », a averti Igor Dorofeev, directeur du syndicat des acteurs de l'industrie des datacenters. « Très probablement, cela conduira à la limitation des services de divertissement comme les jeux vidéo en mode cloud et le streaming de musique et de vidéos ». 
      <a href="https://www.lemondeinformatique.fr/actualites/lire-la-russie-bientot-confrontee-a-une-crise-du-stockage-86148.html">En savoir plus...</a>
      </p>
  </div>

  <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #ffffff">
    <br>
      <h1 class="fw-light titre">L'assistant à la programmation de GitHub, Copilot, s'invite dans Visual Studio 2022 de Microsoft</h1>
      <br>
      <p class="lead text-muted">L’assistant à la programmation basé sur l’IA (le projet a été développé par GitHub et OpenAI en 2021) est désormais disponible pour l’IDE Visual Studio 2022 de Microsoft.Pour les utilisateurs de Visual Studio, GitHub sollicite des commentaires sur Copilot, notamment en ce qui concerne les langages .NET. Il est conseillé aux développeurs d'écrire des tests unitaires avec leurs frameworks préférés ou de demander à l’assistant de les aider à implémenter d’autres méthodes. Selon GitHub, plus les commentaires sur le code sont précis, plus Copilot est en mesure de créer un code qui correspond aux intentions du développeur.</p>
      <p class="lead text-muted">Décrit comme un « programmeur binôme à base d’IA », Copilot suggère automatiquement du code quand les développeurs tapent leur programme. Ils peuvent accepter ou ignorer les suggestions. L’outil est alimenté par le système OpenAI Codex, entraîné sur du code source et du langage naturel disponibles publiquement.  
      <a href="https://www.lemondeinformatique.fr/actualites/lire-github-copilot-embarque-dans-visual-studio-2022-86337.html">En savoir plus...</a>
      </p>
  </div>
  <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #ffffff">
    <br>
      <h1 class="fw-light titre">Maintenant, les no-codeurs commencent à cracher sur les devs</h1>
      <br>
      <p class="lead text-muted">En France, dans le Grand Est, plusieurs élèves de CM1-CM2 ont commencé à recevoir des cours de programmation informatique. Une bonne idée sur le papier, sauf que l'urgence n'est plus à la formation au code mais au no code.</p>
      <p class="lead text-muted">"Tout le monde dans ce pays devrait apprendre à coder, parce que ça apprend à penser", répétait Steve Jobs, le célèbre cofondateur de la marque à la pomme. Une maxime pleine de bon sens au lancement du Macintosh 128K en 1984. Mais plus vraiment d’actualité en 2022, car une nouvelle révolution a pointé le bout de son nez : le no code. Et il serait peut être temps d’arrêter d’être obsédé par l’apprentissage du code à nos enfants.</p>
      <a href="https://www.journaldunet.com/solutions/dsi/1507809-non-nos-enfants-ne-seront-pas-codeurs-mais-nocodeurs/">En savoir plus...</a><br>
      <a href="https://www.youtube.com/watch?v=yG4Ndy5qriE&t=224s&ab_channel=LeFr%C3%A8reCodeur">Youtube...</a>
  </div>

</div>

</section>
{% endblock %}