{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
<section class="text-center container spaceFooter">
<div class="row py-lg-5" id="spawn">
      <div class="col-lg-6 col-md-8 mx-auto" style="background-color: #343434">
      <br>
        <h1 class="fw-light typewriter titre">{ Veille technologique }</h1>
        <br>
        <p class="lead text-muted">Une veille technologique est une activité consistant à rester au courant des dernières avancées et informations sur les nouvelles technologies, outils informatique et autres...</p>
        <p class="lead text-muted">On utilise habituellement plusieurs sites d'actualitées pour suivre les news, personellement pour prendre connaissance des nouveautées, j'utilise directement les sites officiels, et je suis abonné à plusieurs chaines d'informaticiens et de développeurs sur Youtube.</p>

        <p class="lead text-muted">Mes sources actuelles : 
        <a href="https://www.youtube.com/c/JomaOppa/videos">Joma Tech</a> /
        <a href="https://www.youtube.com/c/LesFr%C3%A8resCodeurs/videos">Le Frère Codeur</a> /
        <a href="https://www.youtube.com/c/Fireship">Fireship</a> /
        <a href="https://www.youtube.com/c/TUTOUNITYFR/featured">Tuto Unity FR</a> /
        <a href="https://symfony.com/blog/">Symfony News</a> /
        <a href="https://www.infoq.com/Programming-Languages/news/">InfoQ</a>
        .
        <p>
      </div>
</div>
</section>
{% endblock %}